body {
    font-family: 'Quicksand', sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    background-color: lightcoral;

}
.header-wrapper {
    text-align: center;
    font-size: 50px;
}
.product-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: aqua;
    border: black solid 1px;
    padding: 40px;
}

.product-card {
    display: flex;
    flex-direction: column;
    background-color: lightpink;
    border: black solid 1px;
    margin: 40px 5px;
    padding: 2px;
    text-align: center;
}
 

/* We can change sizes of images and adjust them to their divs later but now they are visible and fits in a row */
img {
    border: 1px black solid;
    object-fit: contain;
    max-width: 100%;
}

.shopping-bag-wrapper {
    background-color: lightgreen;
    border: black solid 1px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}